# Keil MDK-ARM
*.uvguix.*
*.uvoptx
*.scvd
*.dep
*.bak
*.crf
*.d
*.o
*.hex
*.bin
*.htm
*.lst
*.map
*.axf
*.sct
*.iex
RTE/
Objects/
Listings/

# IDE
*.uvwde
*.uvguix
*.uvopt

# Build
DebugConfig/
DebugInFlash/
Release/

# OS
Thumbs.db
.DS_Store
